
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <mat-label>Ceenit</mat-label>
    <span class="header-spacer"></span>
    <form>
      <mat-form-field style="width: 60 rem" floatLabel="never">
        <input
          matInput
          type="text"
          (keydown.enter)="searchHandler(searchInput)"
          #searchInput
          placeholder=""
        />
        <button mat-icon-button (click)="searchHandler(searchInput)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <span class="header-spacer"></span>
    <button mat-icon-button>
      <mat-icon (click)="userMenu()">account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a mat-list-item (click)="sidenav.toggle()" href="" >Home</a>
        <a mat-list-item [routerLink]="'lists'"> Lists </a>
        <a mat-list-item [routerLink]="'reviews'"> Reviews </a>
        <a mat-list-item [routerLink]="'timeline'"> Timeline </a>
        <a mat-list-item [routerLink]="'watchlist'"> Watchlist </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
