<div class="movieList">
  <span *ngIf="lstMovies.length == 0"></span>
  <mat-card *ngFor="let movie of lstMovies">
    <mat-card-header>
      <div
        mat-card-avatar
        style="background-image: url(movie.poster_path)"
      ></div>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.releaseDate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>SHOW DETAIL</button>
    </mat-card-actions>
  </mat-card>
</div>
